@model SooperSnooper.Models.Twitter.DetailsViewModel
@*@model PagedList.IPagedList<SooperSnooper.Models.Twitter.Tweet>*@
@using PagedList.Mvc
@using PagedList
@using System.Globalization

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Snooping on " + Model.Username;
}

<h2 class="table-header">Snooping on @Model.Username</h2>

<div class="search-container">
    @using (Html.BeginForm(
        new
        {
            Model.Username,
            Model.CurrentFilter,
            Model.SortOrder,
            Model.DateSort,
            Model.StartDate,
            Model.EndDate
        }))
    {
        <p class="searchbar">
            Date range:
            @Html.TextBoxFor(model => model.StartDate, new { @type = "date", @class = "form-control snoop-box" })
            to
            @Html.TextBoxFor(model => model.EndDate, new { @type = "date", @class = "form-control snoop-box" })
        </p>
        <p class="searchbar">
            Search message body: @Html.TextBoxFor(model => model.SearchString, new { @class = "form-control snoop-box" })
        </p>

        <div class="form-group">
            <input type="submit" value="Snoop Messages" class="btn btn-default" />
        </div>
    }
    <p class="table-header">
        <h4 class="table-header">
            Current Filter:
            @if (!string.IsNullOrEmpty(Model.CurrentFilter))
            {
                @Html.Label(Model.CurrentFilter, new { @class = "detail-label" })
            }
        </h4>
        <h4 class="table-header">
            Dates:
            @Html.Label(Model.StartDate.Value.Date.ToShortDateString(), new { @class = "detail-label" })
            to
            @Html.Label(Model.EndDate.Value.Date.ToShortDateString(), new { @class = "detail-label" })
        </h4>
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tweets.First().Id)
        </th>
        <th>
            @Html.ActionLink("Post Date", "Details",
                new
                {
                    Model.Username,
                    Model.CurrentFilter,
                    SortOrder = Model.DateSort,
                    Model.DateSort,
                    Model.StartDate,
                    Model.EndDate,
                    Model.Page
                })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tweets.First().MessageBody)
        </th>
    </tr>

    @foreach (var item in Model.Tweets)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="table-middle">
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBody)
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model.Tweets, page => Url.Action("Details",
    new
    {
        Model.Username,
        Model.CurrentFilter,
        Model.SortOrder,
        Model.DateSort,
        Model.StartDate,
        Model.EndDate,
        page
    }))