@model PagedList.IPagedList<SooperSnooper.Models.Twitter.Tweet>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Snooping on " + ViewBag.Username;
}

<h2>@ViewBag.Title</h2>

<div class="search-container">
    @using (Html.BeginForm(new { username = ViewBag.Username }))
    {
        <p class="searchbar">
            Search message body: @Html.TextBox("SearchString")
            <input type="submit" value="Snoop Messages" />
        </p>
    }
    <p class="filter">
        <h4>Current Filter: @ViewBag.CurrentFilter</h4>
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MessageBody)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBody)
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Details",
    new { username = ViewBag.Username, page, currentFilter = ViewBag.CurrentFilter }))