@model PagedList.IPagedList<SooperSnooper.Models.Twitter.Tweet>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">

@{
    ViewBag.Title = "Snooping on " + Html.ValueFor(model => model.First().Username);
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm())
{
    <p class="searchbar">
        Search message body: @Html.TextBox("SearchString")
        <input type="submit" value="Snoop Messages" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MessageBody)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBody)
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Details",
    new { username = Model.First().Username, page, currentFilter = ViewBag.CurrentFilter }))