@model SooperSnooper.Models.Validation.SnoopModel
@{
    ViewBag.Title = "Snooping for Scoops";
    string validationErrors = string.Join(",",
                    ViewData.ModelState.Values.Where(E => E.Errors.Count > 0)
                    .SelectMany(E => E.Errors)
                    .Select(E => E.ErrorMessage)
                    .ToArray());
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Snoop for a New Scoop</h2>
        <hr />

        @Html.ValidationSummary(true, validationErrors, new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(Model => Model.Loops, "Desired tweets x 20", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.Loops, new { htmlAttributes = new { @type = "number", @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Loops)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(Model => Model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Username)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Snoop" class="btn btn-default" />
            </div>
        </div>
    </div>
}
